@import url('./utils.css');
@import url('../features/HomePage/HomePage.css');
/* @import url('primereact/resources/themes/lara-light-teal/theme.css'); */

@layer tailwind-base, tailwind-utilities;

/* @import 'primereact/resources/themes/lara-light-teal/theme.css'
  layer(primereact); */

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind utilities;
  @tailwind components;
}

/* #087f38 - Primary */

:root {
  color-scheme: light only;
  --brand-color: #087f38;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

html {
  font-size: 16px;
}
