.h-dvh {
  height: 100dvh;
}

.min-h-5 {
  min-height: 1.25rem; /* 20px */
}

h1 {
  @apply mb-7 flex justify-center text-2xl font-bold;
}

h5 {
  @apply mb-1 mt-3 text-lg font-bold;
  color: #6b7280;
}
