.h-dvh {
  height: 100dvh;
}

.min-h-5 {
  min-height: 1.25rem; /* 20px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: var(--surface-900);

  &.mt-0 {
    margin-top: 0;
  }
  &.mb-0 {
    margin-bottom: 0;
  }
  &.my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h1 {
  @apply my-3 flex justify-center text-2xl sm:text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  margin: 1rem 0 0.5rem;
  @apply text-xl;
}

h5 {
  @apply mb-1 mt-3 text-lg font-medium text-zinc-700;
}

.menu-button {
  @apply flex w-full items-center px-2 py-2 text-sm text-zinc-500;

  &.separated {
    @apply rounded-md bg-zinc-300 py-3;
  }

  &:hover {
    @apply bg-gray-100;
  }

  &.danger {
    @apply text-red-500;
  }
}

.gr-place-center {
  place-self: center;
}
.gr-justify-start {
  justify-self: start;
}
.gr-justify-center {
  justify-self: center;
}
.gr-justify-end {
  justify-self: end;
}
.gr-align-start {
  align-self: start;
}
.gr-align-center {
  align-self: center;
}
.gr-align-end {
  align-self: end;
}
