.HomePage {
  background: linear-gradient(75deg, #83f7f8 0%, #6bdd52 100%);
  @apply relative flex h-dvh flex-col items-center justify-center overflow-hidden p-4 align-middle;

  &::after {
    content: '';
    background: linear-gradient(0deg, #fab7ef 20%, rgba(255, 255, 255, 0) 45%);

    @apply absolute bottom-0 left-0 right-0 top-0;
  }

  & .glass-container {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    border-radius: 20px;

    @apply z-10 flex grow flex-col justify-between overflow-y-auto sm:h-full;
  }
}

.HomePage .wrapper-glass-container {
  min-height: 80%;
  max-height: 850px;
  min-width: 95%;
  max-width: 700px;

  @apply z-10;

  &::before {
    content: '';
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    background: linear-gradient(
      290deg,
      rgba(255, 255, 255, 0.5) 24%,
      rgba(255, 255, 255, 0.3) 73%
    );
    transform: translate(-20%, 0%);

    @apply absolute left-0 top-0 -z-20;
  }

  &::after {
    content: '';
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    background: linear-gradient(
      130deg,
      rgba(255, 255, 255, 0.6) 24%,
      rgba(255, 255, 255, 0.1) 73%
    );
    transform: translate(7%, 15%);
    bottom: 0;
    right: 0;

    @apply absolute -z-20;
  }
}
