.HomePage {
  background: linear-gradient(75deg, #83f7f8 0%, #6bdd52 100%);
  @apply relative flex h-dvh flex-col items-center justify-center overflow-y-auto p-4 align-middle;

  &::after {
    content: '';
    background: linear-gradient(0deg, #fab7ef 20%, rgba(255, 255, 255, 0) 45%);
    @apply absolute bottom-0 left-0 right-0 top-0;
  }

  & .glass-container {
    min-height: 80%;
    max-height: 850px;
    min-width: 95%;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
    border-radius: 20px;

    @apply z-10 flex h-fit grow flex-col justify-between overflow-y-auto;
  }
}
